h3 {
   text-align: center;
   text-decoration: underline;
}

.skills {
   color: green;
}

.ol-style {
   color: black;
   list-style-type: lower-roman;
}

.p-style {
   color: palevioletred;
   font-weight: bolder;
   
}